# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# Virtual Environments & IDE 
.idea/
.vscode/

# Reports and temporary files
reports/*
!reports/.gitkeep
